<!DOCTYPE html>
<html>
<head>
    <title>Add Account</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="box">

<h2>➕ Add Account</h2>

<form method="POST">
    <input type="number" name="acc" placeholder="Account Number" required>
    <input type="text" name="lname" placeholder="Last Name" required>
    <input type="text" name="fname" placeholder="First Name" required>
    <input type="number" name="bal" placeholder="Balance" required>
    <button>Add Account</button>
</form>

<br>
<a href="/dashboard" style="color:white;">⬅ Back</a>

</div>

</body>
</html>